Body{
background-color: #616b75;
}

.tableimg {
	max-height: 100px; 
	min-height: 100px; 
	max-width:100px; 
	min-width: 100px;
}

.panel-primary {
  border-color: #2d3033;
}
.panel-primary > .panel-heading {
  color: #fff;
  background-color: #2d3033;
  border-color: #2d3033;
}

.btn-primary {
  color: #fff;
  background-color: #2d3033;
  border-color: #2d3033;
}

.btn-primary:focus,
.btn-primary.focus {
  color: #fff;
  background-color: #2D3033;
  border-color: #2D3033;
}

.btn-primary:hover {
  color: #fff;
  background-color: black;
  border-color: black;
}

.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  color: #fff;
  background-color: #2D3033;
  background-image: none;
  border-color: #2D3033;
}

.btn-primary:active:hover,
.btn-primary.active:hover,
.open > .dropdown-toggle.btn-primary:hover,
.btn-primary:active:focus,
.btn-primary.active:focus,
.open > .dropdown-toggle.btn-primary:focus,
.btn-primary:active.focus,
.btn-primary.active.focus,
.open > .dropdown-toggle.btn-primary.focus {
  color: #fff;
  background-color: grey;
  border-color: #122b40;
}

.img-responsive,
.thumbnail > img,
.thumbnail a > img,
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  display: block;
  max-height: 200px; min-height: 200px; max-width:250px; min-width: 250px;
}

.alert-success {
  color: white;
  background-color: #95a9cf;
  border-color: #5c739e;
}

.dropdown-toggle {
	background-color: grey;
	margin-right:10px;
}

.nav-item {
	margin-right:10px;
}


.bodyoptions-mopt
{
	justify-content: center;
	align-items: center;
}


.container-mopt
{
display: flex;
align-items: center;
flex-wrap: wrap;
padding: 30px;
position: relative;
justify-content: space-between;
width: 1100px;
margin: 20px 0;
}

.container-mopt .card-mopt
{
box-shadow: 0 5px 202px rgba(0,0,0,0.5);
transition: 0.4s ease-in-out;
position: relative;
margin: 30px 10px;
padding: 20px 15px;
background: #fff;
display: flex;
flex-direction: column;
max-width: 300px;
height: 225px;
}

.container-mopt .card-mopt:hover
{
	height: 465px;
}

.container-mopt .card-mopt .box-image-mopt
{
	z-index: 1;
	box-shadow: 0 6px 21px rgba(0,0,0,1);
	position: relative;
	top: -60px;
	left: 18px;
	width: 235px;
	height: 235px;
}

.container-mopt .card-mopt .box-image-mopt img
{
	max-width: 100%;
	border-radius: 5px;
	
}

.container-mopt .card-mopt .content-mopt
{
	visibility: hidden;
	transition: 0.4s ease-in-out;
	position: relative;
	text-align: left;
	opacity: 0;
	margin-top: -140px;
	padding: 9px 14px;
}

.container-mopt .card-mopt:hover .content-mopt
{
	
	margin-top: -40px;
	transition-delay: 0.4s;
	visibility: visible;
	opacity: 1;
}
  
  
.bodyoptions-stdm
{
	justify-content: center;
	align-items: center;
}


.container-stdm
{
display: flex;
align-items: center;
flex-wrap: wrap;
padding: 30px;
position: relative;
justify-content: space-between;
width: 1100px;
margin: 15px 0;
}

.container-stdm .card-stdm
{
box-shadow: 0 5px 202px rgba(0,0,0,0.5);
transition: 0.4s ease-in-out;
position: relative;
margin: 30px 10px;
padding: 20px 15px;
background: #fff;
display: flex;
flex-direction: column;
min-width: 300px;
height: 600px;
}


.container-stdm .card-stdm .box-image-stdm
{
	z-index: 1;
	box-shadow: 0 6px 21px rgba(0,0,0,1);
	position: relative;
	top: -60px;
	left: 18px;
	width: 235px;
	height: 235px;
}

.container-stdm .card-stdm .box-image-stdm img
{
	max-width: 100%;
	border-radius: 5px;
	
}

.container-stdm .card-stdm .content-stdm
{
	visibility: visible;
	position: relative;
	text-align: center;
	opacity: 1;
	margin-top: -50px;
	padding: 9px 14px;
}

.bodyoptions-ctm
{
	justify-content: center;
	align-items: center;
	border-color: none;
}


.container-ctm
{
display: flex;
align-items: center;
flex-wrap: wrap;
padding: 30px;
position: relative;
justify-content: space-between;
width: 1100px;
margin: 15px 0;
}

.container-ctm .card-ctm
{
box-shadow: 0 5px 202px rgba(0,0,0,0.5);
transition: 0.4s ease-in-out;
position: relative;
margin: 30px 10px;
padding: 20px 15px;
background: #fff;
display: flex;
flex-direction: column;
max-width: 300px;
height: 245px;
}


.container-ctm .card-ctm .box-image-ctm
{
	z-index: 1;
	box-shadow: 0 6px 21px rgba(0,0,0,1);
	position: relative;
	top: -60px;
	left: 18px;
	width: 235px;
	height: 235px;
}

.container-ctm .card-ctm .box-image-ctm img
{
	max-width: 100%;
	border-radius: 5px;
	
}

.container-ctm .card-ctm .content-ctm
{
	visibility: visible;
	position: relative;
	text-align: center;
	opacity: 1;
	margin-top: -50px;
	padding: 9px 14px;
}

.dropdown-toggle {
	background-color: transparent;
}

.caption-badge.caption-secondary {
	display: none;
}
.caption-badge.caption-warning {
	display: none;
}

.bodyoptions-meni
{
	justify-content: center;
	align-items: center;
	border-color: none;
}


.container-meni
{
display: flex;
align-items: center;
flex-wrap: wrap;
padding: 30px;
position: relative;
justify-content: space-between;
width: 1100px;
margin: 15px 0;
}

.container-meni .card-meni
{
box-shadow: 0 5px 202px rgba(0,0,0,0.5);
transition: 0.4s ease-in-out;
position: relative;
margin: 30px 10px;
padding: 20px 15px;
background: #fff;
display: flex;
flex-direction: column;
max-width: 300px;
height: 245px;
}


.container-meni .card-meni .box-image-meni
{
	z-index: 1;
	box-shadow: 0 6px 21px rgba(0,0,0,1);
	position: relative;
	top: -60px;
	left: 2px;
	width: 235px;
	height: 235px;
}

.container-meni .card-meni .box-image-meni img
{
	max-width: 100%;
	border-radius: 5px;
	
}

.container-meni .card-meni .content-meni
{
	visibility: visible;
	position: relative;
	text-align: center;
	opacity: 1;
	margin-top: -50px;
	padding: 9px 14px;
}