Body{
background-color: #616b75;
}

.tableimg {
	max-height: 100px; 
	min-height: 100px; 
	max-width:100px; 
	min-width: 100px;
}

.panel-primary {
  border-color: #2d3033;
}
.panel-primary > .panel-heading {
  color: #fff;
  background-color: #2d3033;
  border-color: #2d3033;
}

.btn-primary {
  color: #fff;
  background-color: #2d3033;
  border-color: #2d3033;
}

.btn-primary:focus,
.btn-primary.focus {
  color: #fff;
  background-color: #2D3033;
  border-color: #2D3033;
}

.btn-primary:hover {
  color: #fff;
  background-color: black;
  border-color: black;
}

.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  color: #fff;
  background-color: #2D3033;
  background-image: none;
  border-color: #2D3033;
}

.btn-primary:active:hover,
.btn-primary.active:hover,
.open > .dropdown-toggle.btn-primary:hover,
.btn-primary:active:focus,
.btn-primary.active:focus,
.open > .dropdown-toggle.btn-primary:focus,
.btn-primary:active.focus,
.btn-primary.active.focus,
.open > .dropdown-toggle.btn-primary.focus {
  color: #fff;
  background-color: grey;
  border-color: #122b40;
}

.img-responsive,
.thumbnail > img,
.thumbnail a > img,
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  display: block;
  max-height: 200px; min-height: 200px; max-width:250px; min-width: 250px;
}