
body {

/* CONFIRMED: Purple gradient*/
background: linear-gradient(90deg, #4b0082 0%, #ee82ee 100%);

/* background-color: #616b75; */

/*background: linear-gradient(180deg, rgba(109,89,158,1) 0%, rgba(59,45,75,1) 100%);*/

/* Tea Gold 
background: linear-gradient(80deg, #F2A65A 0%,#772F1A 100%); */

/* Average-- 
background-color: #f8ceec;
background-image: linear-gradient(315deg, #f8ceec 0%, #a88beb 74%); */

/* Pollock red
background: linear-gradient(180deg, #b21e5a 0%, #91163f 100%)
background: linear-gradient(90deg, #b10d50 0%, #82163a 100%);*/

/* Purple gradient
background: linear-gradient(180deg, #6e59a3 0%, #635093 100%); */

/* Maroon Red 
background-color: #3f0d12;
background-image: linear-gradient(315deg, #3f0d12 0%, #a71d31 74%); */

/* Light Grey 
background-color: #5b6467;
background-image: linear-gradient(315deg, #8b939a 0%, #5b6467 74%); */

/* Purple 
background: linear-gradient(180deg, rgba(30,13,54,1) 0%, rgba(54,37,79,1) 100%); */

/* Light Purple 
background: linear-gradient(180deg, rgba(109,89,158,1) 0%, rgba(59,45,75,1) 100%); */

/* Faded Purple 
background: linear-gradient(180deg, rgba(99,87,114,1) 0%, rgba(142,127,163,1) 100%); */

/* Purply 
background: linear-gradient(-225deg, #884D80 0%, #A8BFFF 100%); */

}

.button-container {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 0px 30px 30px 0px;
}

.scrollmenu::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

.scrollmenu::-webkit-scrollbar-track {
  background-color: #f5f5f5;
  border-radius: 5px;
}

.scrollmenu::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 5px;
}

.scrollmenu::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}


.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 5px;
    border-radius: 5px;   
    background: #40454a;
    outline: none;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 12px;
    height: 12px;
    border-radius: 50%; 
    background: #40454a;
    cursor: pointer;
	margin-top: -5.0px;
}

.slider::-webkit-slider-runnable-track {
    width: 100%;
    height: 4px;
    cursor: pointer;
    animate: 0.2s;

    background: #40454a;
    border-radius: 5px;
    border: 0.2px solid #40454a;
}

.navbar-collapse.show {
	background:rgba(97, 107, 117,.8); 
}

.tableimg {
	max-height: 100px; 
	min-height: 100px; 
	max-width:100px; 
	min-width: 100px;
}

.panel-primary {
  border-color: #2d3033;
}
.panel-primary > .panel-heading {
  color: #fff;
  background-color: #2d3033;
  border-color: #2d3033;
}


.btn-primary {
  align-items: center;
  background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #FFFFFF;
  display: flex;
  font-family: Phantomsans, sans-serif;
  font-size: 20px;
  justify-content: center;
  line-height: 1em;
  max-width: 100%;
  min-width: 140px;
  padding: 3px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
}

.btn-primary:active,
.btn-primary:hover {
  outline: 0;
}

.btn-primary span {
  background-color: rgb(5, 6, 45);
  padding: 16px 24px;
  border-radius: 6px;
  width: 100%;
  height: 100%;
  transition: 300ms;
}

.btn-primary:hover span {
  background: none;
}

@media (min-width: 768px) {
  .btn-primary {
    font-size: 24px;
    min-width: 196px;
  }
}

.img-responsive,
.thumbnail > img,
.thumbnail a > img,
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  display: block;
  max-height: 200px; min-height: 200px; max-width:250px; min-width: 250px;
}

.alert-success {
  color: white;
  background-color: #95a9cf;
  border-color: #5c739e;
  border-radius: 15px;
}

.dropdown-toggle {
	background-color: grey;
	margin-right:10px;
}

.nav-item {
	margin-right:10px;
	font-family: Garamond, serif;
}


.bodyoptions-mopt
{
	justify-content: center;
	align-items: center;
}


.container-mopt
{
display: flex;
align-items: center;
flex-wrap: wrap;
padding: 30px;
position: relative;
justify-content: space-between;
width: 1100px;
margin: 20px 0;
}

.container-mopt .card-mopt
{
box-shadow: 0 5px 202px rgba(0,0,0,0.5);
transition: 0.4s ease-in-out;
position: relative;
margin: 30px 10px;
padding: 20px 15px;
background: #fff;
display: flex;
flex-direction: column;
max-width: 300px;
height: 225px;
}

.container-mopt .card-mopt:hover
{
	height: 465px;
}

.container-mopt .card-mopt .box-image-mopt
{
	z-index: 1;
	box-shadow: 0 6px 21px rgba(0,0,0,1);
	position: relative;
	top: -60px;
	left: 18px;
	width: 235px;
	height: 235px;
}

.container-mopt .card-mopt .box-image-mopt img
{
	max-width: 100%;
	border-radius: none;
	
}

.container-mopt .card-mopt .content-mopt
{
	visibility: hidden;
	transition: 0.4s ease-in-out;
	position: relative;
	text-align: left;
	opacity: 0;
	margin-top: -140px;
	padding: 9px 14px;
}

.container-mopt .card-mopt:hover .content-mopt
{
	
	margin-top: -40px;
	transition-delay: 0.4s;
	visibility: visible;
	opacity: 1;
}
  
  
.bodyoptions-stdm
{
	justify-content: center;
	align-items: center;
}


.container-stdm
{
display: flex;
align-items: center;
flex-wrap: wrap;
padding: 30px;
position: relative;
justify-content: space-between;
width: 1100px;
margin: 15px 0;
}

.container-stdm .card-stdm
{
box-shadow: 0 5px 202px rgba(0,0,0,0.5);
transition: 0.4s ease-in-out;
position: relative;
margin: 30px 10px;
padding: 20px 15px;
background: #fff;
display: flex;
flex-direction: column;
min-width: 300px;
height: 600px;
}


.container-stdm .card-stdm .box-image-stdm {
  z-index: 1;
  box-shadow: 0 6px 21px rgba(0,0,0,1);
  position: relative;
  top: -60px;
  left: 18px;
  width: 235px;
  height: 235px;
  overflow: hidden;
  border-radius: none;
}

.container-stdm .card-stdm .box-image-stdm .image-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-stdm .card-stdm .box-image-stdm img {
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
}

.container-stdm .card-stdm .content-stdm
{
	visibility: visible;
	position: relative;
	text-align: center;
	opacity: 1;
	margin-top: -50px;
	padding: 9px 14px;
}

.bodyoptions-ctm
{
	justify-content: center;
	align-items: center;
	border-color: none;
}


.container-ctm
{
display: flex;
align-items: center;
flex-wrap: wrap;
padding: 30px;
position: relative;
justify-content: space-between;
width: 1100px;
margin: 15px 0;
}

.container-ctm .card-ctm
{
box-shadow: 0 5px 202px rgba(0,0,0,0.5);
transition: 0.4s ease-in-out;
position: relative;
margin: 30px 10px;
padding: 20px 15px;
background: #fff;
display: flex;
flex-direction: column;
max-width: 300px;
height: 245px;
}


.container-ctm .card-ctm .box-image-ctm
{
	z-index: 1;
	box-shadow: 0 6px 21px rgba(0,0,0,1);
	position: relative;
	top: -60px;
	left: 18px;
	width: 235px;
	height: 235px;
}

.container-ctm .card-ctm .box-image-ctm img
{
	max-width: 100%;
	border-radius: 5px;
	
}

.container-ctm .card-ctm .content-ctm
{
	visibility: visible;
	position: relative;
	text-align: center;
	opacity: 1;
	margin-top: -50px;
	padding: 9px 14px;
}

.dropdown-toggle {
	background-color: transparent;
}

.caption-badge.caption-secondary {
	display: none;
}
.caption-badge.caption-warning {
	display: none;
}
.caption-badge.caption-success {
	display: none;
}
.caption-badge.caption-primary {
	display: none;
}
.caption-badge.caption-info {
	display: none;
}
.caption-badge.caption-danger {
	display: none;
}

.bodyoptions-meni
{
	justify-content: center;
	align-items: center;
	border-color: none;
}


.container-meni
{
display: flex;
align-items: center;
flex-wrap: wrap;
padding: 30px;
position: relative;
justify-content: space-between;
width: 1100px;
margin: 15px 0;
}

.container-meni .card-meni
{
box-shadow: 0 5px 202px rgba(0,0,0,0.5);
transition: 0.4s ease-in-out;
position: relative;
margin: 30px 10px;
padding: 20px 15px;
background: #fff;
display: flex;
flex-direction: column;
max-width: 300px;
height: 245px;
}


.container-meni .card-meni .box-image-meni
{
	z-index: 1;
	box-shadow: 0 6px 21px rgba(0,0,0,1);
	position: relative;
	top: -60px;
	left: 1px;
	width: 235px;
	height: 235px;
}

.container-meni .card-meni .box-image-meni img
{
	max-width: 100%;
	border-radius: none;
	
}

.container-meni .card-meni .content-meni
{
	visibility: visible;
	position: relative;
	text-align: center;
	opacity: 1;
	margin-top: -50px;
	padding: 9px 14px;
}

#newmenubtn {
	position: relative;
	bottom: 100px;
	right: -630px;
 
}

.btn-addtoCart {
	background-color: #198754;
	color: white; 
}

.btn-addtoCart:hover {
	background-color: #157147; 
	color: white; 
}

.btn-updateDishes {
	background-color: #008cba;
    color: white; 
}


.btn-updateDishes:hover {
	background-color: #0079a1; 
    color: white;
}

.btn-moreInfo {
	background-color: #4d648d;
    color: white; 
}

.btn-moreInfo:hover {
	background-color: #44587d; 
    color: white;
}

.btn-back {
	background-color: #c67c06;
	justify-content: center;
	align-items: center;
    color: white; 
    border-radius: 50%;
	width: 47px;
	height: 47px;
	line-height: 50px;
    position: relative;
}

.btn-back:hover {
	background-color: #b26f05; 
    color: white;
}


.btn-back i {
	font-size: 34px;
	display: flex;
	justify-content: center;
}

.btn-giveRating {
	background-color: #daa520;
    color: white; 
}

.btn-giveRating:hover {
	background-color: #c4941d; 
    color: white;
}

.btn-createCustomMenu {
	background-color: #2d3033;
    color: white; 
}

.btn-createCustomMenu:hover {
	background-color: #000000; 
    color: white;
}

@keyframes checky{
	from{
		transform: scale(1,1);
	}
	30%{
		transform: scale(1.4, 0.70);
	}
	40%{
		transform: scale(0.70, 1.30);
	}
	50%{
		transform: scale(1.10, 0.83);
	}
	60%{
		transform: scale(0.90, 1.0);
	}
	70%{
		transform: scale(1.0, 0.90);
	}
	to{
		transform: scale(1,1);
	}
}

[id^="cbox-selectMenuItems"] {
    display: none;
}

[id^="cbox-selectMenuItems"]:checked ~ label {
    background-color: #000000;
    animation: checky 0.6s ease;
}

[id^="cbox-selectMenuItems"]:checked ~ label::after {
    transform: rotate(45deg) scale(1);
    opacity: 1;
}

.checkbox label {
	top: 1px;
	height: 35px;
	width: 35px;
	top: 0px;
	display: block;
	border-radius: 4px;
	border: 2px solid #000000;
	cursor: pointer;
	position: relative;
}

.checkbox label::after{
	left: 12px;
	top: 4px;
	content: "";
	border-right: 3px solid white;
	border-bottom: 3px solid white;
	transition: all 0.4s ease;
	transition-delay: 0.10s;
	opacity: 0;
	height: 20px;
	width: 10px;
	position: absolute;
	transform: rotate(45deg) scale(0);
}

.site-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.container-stdm,
.container-ctm,
.container-meni {
  width: 100%;
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
}

.content-header {
    background: transparent;
    padding: 0px 0;
}

figcaption {
	align-self: flex-end;
	padding: 10px 10px 0 10px;
	flex: 0 0 auto;
	width: 15%;
	min-width: 100px;
}

figure {
	display: flex;
	margin: 0;
}

.footer{
	color: white;
	font-size: 1rem;
	font-family: sans-serif;
}

.bg-theme{
	box-shadow: 0 8px 32px 0 rgba(19,19,20,0.37);
	background:rgba(255,255,255,.4); 
	backdrop-filter: blur(8px);
}

.footer ul{	
    margin-left: -32px;
}

.footer ul li{	
    list-style: none;
}

.footer ul li a{	
    font-size: 17px;
	color: white;
	text-decoration: none;
}
	
.footer ul li i {
	margin-right: 10px;
    font-size: 17px;
	color: white;
	text-decoration: none;
}

.socialnetwork li a i {
	font-size: 23px;
}

.contact-list a {
	color: white;
	text-decoration: none;
	
}

.locationadd ul {
	display: inline-block;
	margin-right: 10px;
}